<mat-list *ngIf="filme; else semRegistro">
  <mat-list-item>Titulo: {{filme.titulo}}</mat-list-item>
  <mat-list-item>Dta de Lancamento: {{filme.dtLancamento | date: 'dd/MM/yyyy'}}</mat-list-item>
  <mat-list-item>Genero: {{filme.genero}}</mat-list-item>
  <mat-list-item>Descricao: {{filme.descricao}}</mat-list-item>
  <mat-list-item><a [href]="filme.urlIMDb" target="_blank">Nota: {{filme.nota}}</a></mat-list-item>
  <img mat-card-image [src]="filme.urlFoto || imagemPadrao">
</mat-list>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado</h1>
</ng-template>